extends base

block content 
    if errorMassage
        span=errorMassage
    form(method="post")
        input(placeholder="name" name="name", type="text" required value=loggedInUser.name)
        input(placeholder="email" name="email", type="email" required value=loggedInUser.email )
        input(placeholder="username" name="username", type="text" required value=loggedInUser.username)
        input(placeholder="location" name="location", type="text" value=loggedInUser.location)
        input(type="submit" value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;